
# Exemplo de variáveis de ambiente para o Sistema de Cantina
# Copie este arquivo para `.env` e ajuste os valores conforme necessário.
# NÃO inclua valores sensíveis neste arquivo do repositório.

# Porta em que a aplicação irá rodar
PORT=4000

# Configurações do banco (substitua pelos valores do seu ambiente)
PGHOST=seu host bd
PGPORT=5432
PGUSER=postgres
PGPASSWORD=Senha do banco
PGDATABASE=cantina

# Observação: copie este arquivo para `.env` e preencha os campos locais.


